@mixin input-css-variables {
  --height-input-default: 2.5rem;
  --height-input-slim: 2rem;
  --width-input-default: 12.5rem;


  // colors

  // border
  --color-border-default: hsla(0, 0%, 100%, .16);
}
