:host {
  width: var(--input-width, 100%);
  display: grid;
  box-sizing: border-box;
  .input-wrapper,
  .input-container,
  .label {
    width: inherit;
  }
  .input-wrapper {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
  }
  &:not(.disabled) .input-container:hover::before {
    background-color: var(--input-bg-clr-hover);
  }
  &:not(.error) .error-message,
  &.error .context-message { display: none; }
  &.error {
    .prefix,
    .sufix,
    .context-text {
      color: var(--error);
    }
    .input-container {
      box-shadow: 0 0 0 0.0625rem var(--error) inset;
    }
  }
  &.disabled {
    opacity: .75;
  }
}

.label {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: space-between;
  padding-bottom: .25rem;
  &:not(:has(*)) {display: none;}
}

.input-container {
  background-color: var(--input-bg-clr);
  box-shadow: 0 0 0 0.0625rem var(--input-border) inset;
  color: var(--input-clr);
  border-radius: 0.25rem;
  height: var(--input-height);
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto;
  box-sizing: border-box;
  position: relative;
  transition: border-color 0.15s;
  &::before {
    content: "";
    position: absolute;
    border-radius: 0.25rem;
    background-color: transparent;
    inset: 0;
    transition: .15s background-color;
  }
  &:focus-within {
    outline: 1px solid;
  }
}

.context-text{
  padding-top: 0.25rem;
  transition: padding-top .25s, max-height .25s;
  &.enter {
    max-height: 32px;
    @starting-style {
      padding-top: 0;
      max-height: 0;
    }
  }
  &.leave {
    padding-top: 0;
    max-height: 0;
  }
}

.prefix,
.sufix {
  display: grid;
  place-content: center;
  width: var(--input-height);
  height: var(--input-height);
}
.sufix {
  margin-left: auto;
  grid-area: 1 / 3 / 2 / 4;
}
.label,
.context-text {
  width: inherit;
  &:empty {
    display: none;
  }
  color: var(--label);
  font-size: var(--txt-small);
  line-height: 1.2;
  font-weight: 500;
}

:host-context([slim]) {
  --input-height: var(--input-height-slim);
  --input-font-size: var(--input-font-size-slim);
  --input-padding: 1rem;
}

:host-context([light]) {
  --input-padding: 0rem;
  --input-height: auto;
  position: relative;
  gap: .25rem;
  background-color: var(--lvl-c-6);
  padding: .5rem .75rem;
  border-radius: 0.25rem;
  transition: .15s background-color;
  &:hover {
    background-color: var(--lvl-c-8);
  }
  &:focus-within {
    outline: 1px solid;
  }
  .input-container {
    display: contents;
  }
  .label {
    padding-bottom: 0;
    grid-area: 1 / 1 / 2 / 3;
  }
  .input-wrapper {
    grid-area: 2 / 1 / 3 / 2;
  }
  .sufix {
    grid-area: 1 / 2 / 3 / 3;
  }
}