@let preText = prefix();
@let prefixIcon = isIcon(preText);
@let sufText = sufix();
@let sufixIcon = isIcon(sufText);

<div class="input-container" >
  @if (prefixIcon) {
    <icon class="prefix" [icon]="prefixIcon" />
  } @else if (preText) {
    <div class="prefix">{{ preText }}</div>
  }
    @if (sufixIcon) {
    <icon class="sufix" [icon]="sufixIcon" />
  } @else if (sufText) {
    <div class="sufix">{{ sufText }}</div>
  }
  <div class="input-wrapper">
    <ng-content  />
  </div>
</div>
@if (this.label() || this.labelElement()) {
  <label class="label" [for]="id()">
      {{ label() }}
      <ng-container  *ngTemplateOutlet="this.labelElement()" />
  </label>
}
  @if (errorMessage() || contextMessage()) {
    <div class="context-text" animate.enter="enter" animate.leave="leave">
      @if (errorMessage()) { <span class="error-message">{{ errorMessage() }}</span> }
      @if (contextMessage()) { <span class="context-message">{{ contextMessage() }}</span> }
    </div>
  }


