@let preText = prefix();
@let prefixIcon = isIcon(preText);
@let sufText = sufix();
@let sufixIcon = isIcon(sufText);

<label class="label" [for]="id()">
  <ng-content select="label">
    {{ this.label() }}
  </ng-content>
</label>
<div class="input-container">
  @if (prefixIcon) {
    <icon class="prefix" [icon]="prefixIcon" />
  } @else if (preText) {
    <div class="prefix">{{ preText }}</div>
  }
    @if (sufixIcon) {
    <icon class="sufix" [icon]="sufixIcon" />
  } @else if (sufText) {
    <div class="sufix">{{ sufText }}</div>
  }
  <div #inputContainer class="input-wrapper">
    <ng-content  />
  </div>

</div>
<div class="context-text">
  <ng-content  select="contextInfo">
    <span class="error-message">{{ errorMessage() }}</span>
    <span class="context-message">{{ contextMessage() }}</span>
  </ng-content>
</div>
