@use 'input.variables' as * ;

:host {
  @include input-css-variables;
  --height-input: var(--height-input-default);
  width: var(--input-width, 100%);
  display: grid;
  gap: 0.25rem;

  &:not(.disabled) .input-container:hover::before {
    background-color: var(--input-bg-clr-hover);
  }
  &:not(.error) .error-message,
  &.error .context-message { display: none; }
  &.error {
    .prefix,
    .sufix,
    .context-text {
      color: var(--error);
    }
    .input-container {
      box-shadow: 0 0 0 0.0625rem var(--error) inset;
    }
  }
  &.disabled {
    opacity: .75;
  }
  &[slim] {
    --height-input: var(--height-input-slim);
    .input-container {
      height: var(--height-input);
    }
    .prefix,
    .sufix {
      font-size: var(--txt-small);
    }
    .sufix {
      top: 0;
      right: 0;
      position: absolute;
    }
  }
}

.input-container {
  background-color: var(--input-bg-clr);
  box-shadow: 0 0 0 0.0625rem var(--color-border-default) inset;
  color: var(--input-clr);
  border-radius: 0.25rem;
  height: var(--height-input);
  width: var(--width-input-default);
  display: grid;
  box-sizing: border-box;
  position: relative;
  transition: border-color 0.15s;
  &::before {
    content: "";
    position: absolute;
    border-radius: 0.25rem;
    background-color: transparent;
    inset: 0;
    transition: .15s background-color;
  }
  &:focus-within {
    outline: 1px solid;
  }
}
.prefix,
.sufix {
  display: grid;
  place-content: center;
  width: var(--height-input);
  height: var(--height-input);
}
.sufix {
  margin-left: auto;
}
.label,
.context-text {
  &:empty {
    display: none;
  }
  color: var(--label);
  font-size: var(--txt-small);
  line-height: 1.2;
}
