@use 'input.variables' as * ;

:host {
  @include input-css-variables;
  --height-input: var(--height-input-default);
  width: var(--input-width, 100%);
  display: grid;

  .input-wrapper,
  .input-container,
  .label {
    width: inherit;
  }
  &:not(.disabled) .input-container:hover::before {
    background-color: var(--input-bg-clr-hover);
  }
  &:not(.error) .error-message,
  &.error .context-message { display: none; }
  &.error {
    .prefix,
    .sufix,
    .context-text {
      color: var(--error);
    }
    .input-container {
      box-shadow: 0 0 0 0.0625rem var(--error) inset;
    }
  }
  &.disabled {
    opacity: .75;
  }
  &[slim] {
    --height-input: var(--height-input-slim);
    .input-container {
      height: var(--height-input);
    }
    .prefix,
    .sufix {
      font-size: var(--txt-small);
    }
    .sufix {
      top: 0;
      right: 0;
      position: absolute;
    }
  }
}

.label {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: space-between;
  padding-bottom: .25rem;
}

.input-container {
  background-color: var(--input-bg-clr);
  box-shadow: 0 0 0 0.0625rem var(--color-border-default) inset;
  color: var(--input-clr);
  border-radius: 0.25rem;
  height: var(--height-input);
  display: grid;
  box-sizing: border-box;
  position: relative;
  transition: border-color 0.15s;
  &::before {
    content: "";
    position: absolute;
    border-radius: 0.25rem;
    background-color: transparent;
    inset: 0;
    transition: .15s background-color;
  }
  &:focus-within {
    outline: 1px solid;
  }
}

.context-text{
  padding-top: 0.25rem;
  transition: padding-top .25s, max-height .25s;
  &.enter {
    max-height: 32px;
    @starting-style {
      padding-top: 0;
      max-height: 0;
    }
  }
  &.leave {
    padding-top: 0;
    max-height: 0;
  }
}

.prefix,
.sufix {
  display: grid;
  place-content: center;
  width: var(--height-input);
  height: var(--height-input);
}
.sufix {
  margin-left: auto;
}
.label,
.context-text {
  width: inherit;
  &:empty {
    display: none;
  }
  color: var(--label);
  font-size: var(--txt-small);
  line-height: 1.2;
  font-weight: 500;
}
