<!-- Left side -->
<ng-template #leftHeaderRef>
  <div class="header-container">
    <h1 class="h1">Section details</h1>
    <div class="options">
      <icon-button [icon]="IconEnum.Add" />
      <icon-button [icon]="IconEnum.Options" />
      <icon-button [icon]="IconEnum.Play" />
    </div>
  </div>
</ng-template>

<ng-template #generalRef>

</ng-template>

<ng-template #questionListRef>

</ng-template>

<!-- Right side -->
<ng-template #questionRef>
  <div class="container">
    <h2 class="h2">Question</h2>
    <text-field [control]="fetchFormGroupAs(currentQuestion, 'question')" />
  </div>
</ng-template>

<ng-template #answersRef>
  <div class="container">
    <h2 class="h2">Answers</h2>
    <drop-down [options]="awnserTypeOptions" slim [control]="fetchFormGroupAs(currentQuestion, 'answerType')"/>
    <ul class="answer-list">
      @let answers = fetchFormArrayAs(currentQuestion.get('answers'));
      @if (answers && answers.controls.length && answerTypeSelected() === AnswerTypeEnum.RadioButton) {
        @for(answer of answers.controls; let idx = $index; track answer) {
          <li class="answer-item">
            <text-field [control]="fetchFormControlAs(answer)" slim [label]="`Option ${idx + 1 }`"/>
          </li>
        }
      }
    </ul>
    @if (answerTypeSelected() === AnswerTypeEnum.RadioButton) {
      <icon-button [icon]="IconEnum.Add" [buttonStyle]="ButtonStyleEnum.Border" (onClick)="addAnswer()"/>
    }
  </div>
</ng-template>

<ng-template #validationRef>
  <div class="container">
    <h2 class="h2">Validation</h2>
  </div>
</ng-template>

<ng-template #allowsRef>
  <div class="container">
    <h2 class="h2">Allowes</h2>
  </div>
</ng-template>

<!-- Rendered -->
<main class="section-main">
  <div class="left-section">
    <ng-container *ngTemplateOutlet="leftHeaderRef" />
    <ng-container *ngTemplateOutlet="generalRef" />
    <ng-container *ngTemplateOutlet="questionListRef" />
  </div>
  <form [formGroup]="currentQuestion" class="right-section">
    <ng-container *ngTemplateOutlet="questionRef" />
    <div class="divider"></div>
    <ng-container *ngTemplateOutlet="answersRef" />
    <div class="divider"></div>
    <ng-container *ngTemplateOutlet="validationRef" />
    <div class="divider"></div>
    <ng-container *ngTemplateOutlet="allowsRef" />
  </form>

</main>