@use 'media-size.mixins' as m;


//Components
@mixin components {
  :where([base-input]) {
    border: none;
    background: transparent;
    padding: 0;
    position: absolute;
    inset: 0;
  }

  :where([input]) {
    box-sizing: border-box;
    // height: 2.5rem;
    border-radius: 0.25rem;
    background-color: var(--input-bg-clr);
    color: var(--input-clr);
    padding: 0 1rem;
    transition: background-color .25s, border-color .25s;
    border: none;
    &:hover {
      background-color: var(--input-bg-clr-hover);
      border-color: var(--input-border-hover);
    }
    /*
    &[slim] {
      height: 2rem;
      .input {
      padding: 0 .75rem;
    }
  
    }
        */
  }
  /*
  [slim] {
    min-height: auto;
    & .input-wrapper,
    .input {
    height: 2rem;
    margin: 0;
    }
    .input-wrapper {
      .prefix + .input { padding-left: 2rem; }
      &:has(.sufix)  .input { padding-right: 2rem; }
      .prefix, .sufix {
        width: 2rem;
      }
      .icn { height: 1rem;  }
    }
    .input {
      padding: 0 .75rem;
    }
  }
    */
  :where([flex]) { flex: 1; }
  :where([btn]) {
    display: inline-flex;
    position: relative;
    min-height: 2.5rem;
    padding: 0 0.75rem;
    align-items: center;
    text-align: inherit;
    border: none;
    background-color: transparent;
    border-radius: 0.25rem;
    width: fit-content;
    cursor: pointer;
    &:before {
      content: "";
      display: block;
      inset: 0 -.25rem;
      position: absolute;
    }
    &:hover { background-color: inherit; }
  }

  :where([text-btn]) {
    background-color: transparent;
    border: none;
    color: var(--label);
    transition: filter .25s;
    @include m.tabletUp {
      &:hover {
        filter: brightness(1.5);
      }
    }
  }

  :where([list]) {
    display: grid;
    gap: 1.5rem;
    place-content: start normal;
  }

  :where(.row) {
    display: flex;
  }

  :where(.default-animation) {
    max-height: 100px;
    transition:
      opacity 0.5s,
      scale 0.5s cubic-bezier(0.22, 1, 0.36, 1),
      translate 0.5s cubic-bezier(0.22, 1, 0.36, 1),
      max-height 0.5s cubic-bezier(0.22, 1, 0.36, 1);
        &.enter {
    @starting-style {
      overflow: hidden;
      opacity: 0;
      scale: 1 0;
      translate: 0 1rem;
      max-height: 0;
    }
    transform-origin: center bottom;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
  &.leave {
    transform-origin: center top;
    opacity: 0;
    scale: 1 0;
    translate: 0 0;
    max-height: 0;
    @starting-style {
      opacity: 1;
      scale: 1;
      translate: 0 0;
      max-height: 100px;
    }
  }
}


  [layout-section] {
      display: grid;
      padding-block: 1.5rem;
      gap: 1.5rem;
      border-bottom: 1px solid var(--n-300);
      transition:
        opacity 0.5s,
        translate 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      @starting-style {
        opacity: 0;
        translate: 0 2rem;
      }
      .enter {
        opacity: 1;
        translate: 0 0;
      }
      .leave {
        translate: 0 2rem;
      }
      &:last-child {
        border: none;
      }
  }

  .action-animation {
    &:after {
      content: '';
      border-radius: 999px;
      position: absolute;
      inset: 0;
      scale: 1.2;
      opacity: 0;
      box-shadow:
        0 0 1.5rem inset,
        0 0 0.3rem,
        0 0 0 0.015rem inset;
      transition:
        opacity 0.5s,
        scale 0.5s;
      transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    }
    &:active:after {
      scale: 0;
      opacity: 1;
      transition: opacity 0s;
    }
  }
}