@use 'media-size.mixins' as mix;

:root {
  --app-font-size: 16px;
  --toolbar-height: 3rem;
  --main-tab-bar-height: 4rem;
  --main-columns: 1fr;
  --day-area: 1 / 1 / 2 / 2;
  --list-area: 2 / 1 / 3 / 2;
  --note-area: 1 / 1 / 3 / 2;
  --day-area-height: 8rem;
  --list-header-top: var(--day-area-height);
  --note-width: 0;
  --scratch-width: 100vw;

  --list-header-height: 3rem;
  --list-item-font-size: max(0.6875rem, min(1.3vw, .825rem));
  --list-item-line-height: calc(var(--list-item-font-size) * 1.375);

  --menu-list-item-height: 2.5rem;
  --menu-vertical-padding: 1rem;
  --menu-horisontal-padding: 1.5rem;

  --txt-large: 1rem;
  --txt-mid: 0.875rem;
  --txt-small: .75rem;

  --input-width: 100%;
  --input-height: 2.5rem;
  --input-height-slim: 2rem;
  --input-font-size: var(--txt-mid);
  --input-font-size-slim: var(--txt-small);

  --p-200: hsl(330, 94%, 24%);
  --p-300: hsl(330, 60%, 37%);
  --p-400: hsl(330, 60%, 56%);
  --p-500: hsl(330, 65%, 76%);
  --p-600: hsl(330, 65%, 90%);
  --p-700: hsl(330, 65%, 96%);
  
  --black: #000;
  --n-100: hsl(0, 0%, 10%);
  --n-200: hsl(0deg 0% 13%);
  --n-300: hsl(0deg 0% 21%);
  --n-350: hsl(0deg 0% 32%);
  --n-400: hsl(0deg 0% 56%);
  --n-500: hsl(0, 0%, 64%);
  --n-600: hsl(0, 0%, 80%);
  --n-700: hsl(0, 0%, 90%);
  --n-800: hsl(0, 0%, 95%);
  --white: #fff;

  --lvl-0: light-dark(var(--white), var(--black));
  --lvl-1: light-dark(var(--n-700), var(--n-100));
  --lvl-2: light-dark(var(--n-800), var(--n-200));

  --lvl-10: light-dark(var(--black), var(--white));

  --lvl-c-0: light-dark(hsla(0, 0%, 0%, .35), hsla(0, 0%, 100%, .6));
  --lvl-c-1: light-dark(hsla(0, 0%, 0%, .68), hsla(0, 0%, 100%, .63));

  --lvl-c-2: light-dark(hsla(0, 0%, 0%, .4), hsla(0, 0%, 100%, .6));

  --header-color: light-dark(var(--n-300), var(--white));
  --para-clr: light-dark(var(--n-400), var(--n-500));

  --primary: var(--p-300);
  --error: hsl(0, 55%, 45%);

  --overlay-clr: var(--n-600);
  --overlay-bg-clr: var(--n-300);

  --border: light-dark(var(--n-600), var(--n-300));
  --menu-border: var(--n-400);

  --input-clr: light-dark(var(--n-200), var(--n-600));
  --input-bg-clr: light-dark( hsla(0, 0%, 100%, .12), hsla(0, 0%, 0%, .12));  
  --input-border: light-dark(hsla(0, 0%, 0%, .12), hsla(0, 0%, 100%, .12));
  --input-bg-clr-hover: light-dark(hsla(0, 0%, 0%, .02), hsla(0, 0%, 100%, .01));
  --input-border-hover: light-dark(hsla(0, 0%, 0%, .18), hsla(0, 0%, 100%, .18));

  --btn-clr: var(--n-700);
  --btn-bg-clr: hsla(0, 0%, 100%, .12);

  --label: light-dark(var(--n-400), var(--n-500));

  --icn-clr: var(--n-500);
  --icn-clr-filled: var(--n-100);
  --icn-bg-clr: light-dark(var(--n-600), var(--n-500));
  
  --hover-clr: light-dark(hsla(0,0%,0%,.05), hsla(0,0%,100%,.1));
  --action-clr: light-dark(hsla(0,0%,0%,.1), hsla(0,0%,100%,.15));

  @include mix.tabletUp {
    --toolbar-height: 3rem;
    --main-tab-bar-height: 4rem;
    --main-columns: 20rem;
    --note-width: calc(20rem + 1px);
    --scratch-width: 20rem;
    --list-header-top: 0;
    --day-area: 1 / 1 / 2 / 2;
    --list-area: 2 / 1 / 3 / 2;
    --note-area: 1 / 2 / 3 / 3;
  }
}