@use 'css.variables' as *;
@forward 'media-size.mixins';
@use 'component.mixins' as c;

$easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--app-font-size);
  color-scheme: light dark;
  color: var(--clr);
  background-color: var(--bg-clr);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include c.components;
}

body {
  margin: 0;
}

.h1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.h2 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

input, button, textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;     
}